$('.task-category-id').each(function(i, obj) {
  var currentOptions = $(this).html();
  var newOption = '<option value="<%= @category.id %>"><%= @category.name %></option>';
  $(this).html(currentOptions + newOption);
});

$('.modal').each(function(i, obj) {
  $(this).modal("hide");
})
